# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://*.stockfirm.uz

# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
BASE_DOMAIN=localhost:8000
